/* .............................. */
/* Stylesheet for FOW Albums      */
/* Author: Joseph	              */
/* id = style for a unique element in a page; defined as # */
/* class = style for group of elements; defined as . */
/* .............................. */


body
{
	background-color: #666;
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	letter-spacing: 0.5px;
	color: #eee;
	padding: 0px;
	margin: 0px;
	margin-bottom: 20px;
	text-align: center;
}

html, body
{
	min-height: 100.1%;
}

/* .............................. */
/* Links */
/* .............................. */

a
{
	color: #eee;
	text-decoration: none;
}

a:hover
{
	text-decoration: underline;
}

/* .............................. */
/* Headings */
/* .............................. */

h1
{
	float: left;
	clear: left;
	font-weight: bold;
	font-size: 11px;
	letter-spacing: 2px;
	color: #eee;
	margin: 0px;
	margin-left: 5px;
	padding: 0px;
}

h1 a
{
	text-decoration: none;
	color: #eee;
}

h1 a:hover
{
	text-decoration: none;
}

.title
{
	font-weight: bold;
	font-size: 11px;
	letter-spacing: 1px;
	color: #eee;
	margin: 0px;
	margin-bottom: 5px;
	margin-left: 15px;
	padding: 0px;
}

h2
{
	font-weight: bold;
	font-size: 11px;
	letter-spacing: 1px;
	color: #ddd;
	text-align: center;
}

/* .............................. */
/* Navigation and menu */
/* .............................. */

.navigation
{
	padding: 5px;
	height: 15px;
	margin-bottom: 20px;
}

.menu
{
	float: right;
	clear: right;
	text-align: right;
	font-size: 11px;
}

.menu a
{
	padding: 7px;
	padding-left: 10px;
	padding-right: 10px;
	text-decoration: underline;
}

.menu a:hover
{
	text-decoration: none;
	color: #111;
}

#separator
{
	border-top: 1px dashed #838D7A;
}

/* .............................. */
/* Content*/
/* .............................. */


#photo
{
	background: #eee;
	padding: 5px;
	border: 1px solid #515151;
}


/* .............................. */
/* for thumbnails */
/* .............................. */

#page
{
	background: #515151;
	border: 1px solid #aaa;
	padding: 20px;
	text-align: left;
	width: 65%;
	margin: 0px auto;
	margin-bottom: 25px;
	line-height: 16px;
}

#page a
{
	font-weight: bold;
}

#page img
{
	background: #fff;
	padding: 5px;
	border: 1px solid #333;
}

.AlbumDesc
{
	padding: 15px;
	font-family: verdana, arial, 'sans serif';
	text-align: left;
	font-size: 8pt;
}


/* .............................. */
/* Frame Style */
/* .............................. */

.LeftBlock
{
	background-color: #E7E9EB;
	padding: 10;
	width: 150;
	height: 350;
	overflow: scroll;
	float: left;
	clear: left;
}
.PictureDisplay
{
	position: absolute;
	top: 80px;
	left: 200px;
}

.SideBarCell
{
font-family: verdana, arial, 'sans serif';
color: #B22222;
font-size: 8pt;
}

.SideBarTitle
{
font-family: verdana, arial, 'sans serif';
font-size: 8pt;
text-decoration: none;
text-align:left
}

.SideBarContent
{
font-family: verdana, arial, 'sans serif';
font-size: 8pt;
}



/* .............................. */
/* Footer */
/* .............................. */

#footer
{
	border-top: 1px dashed #838D7A;
	clear: both;
	margin: 20px auto 0px;
	padding: 10px 0px;
	text-transform: uppercase;
	width: 740px;
	color: Silver;
}